@model Trs.Models.ViewModels.UserModel

@{
    ViewData["Title"] = "Rejestracja";
}

<div class="text-center">
    <h1 class="display-6">Wpisz nową nazwę użytkownika:</h1>
    <form method="POST">
        <table class="table">
            <tr>
                <td>
                    <input type="text" asp-for="Name" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <button asp-action="Register">Utwórz konto</button>
                </td>
            </tr>
        </table>
    </form>
</div>
