@model TRS.Models.ViewModels.UserSelectListModel

@{
    ViewData["Title"] = "Logowanie";
}

<div class="text-center">
    <h1 class="display-6">Wybierz swoją nazwę użytkownika:</h1>
    <form method="POST">
        <select asp-for="Username" asp-items="Model.Usernames">
        </select>
        <button asp-action="Login">Zaloguj się</button>
    </form>
    <p>Nie posiadasz konta? <a asp-action="Register">Zarejestruj się!</a></p>
</div>
