@model TRS.Models.ViewModels.DailyReportModel

@{
    ViewData["Title"] = "Strona główna";
}

<main class="bd-main order-1 gap-3">
    <div class="text-center">
        <h1 class="display-6">Witaj na stronie głównej systemu TRS</h1>
    </div>
</main>
