@model TRS.Models.DomainModels.Report

@{
    ViewData["Title"] = "Miesięczne zestawienie";
    var date = Model.Month.ToString("yyyy-MM-dd");
    var monthlySummary = Model.Entries.GroupBy(x => x.Code)
        .ToDictionary(x => x.Key, x => x.Sum(y => y.Time));
    var monthlyTotal = Model.Entries.Sum(x => x.Time);
}

<main class="bd-main order-1 gap-3">
    <div class="d-md-flex align-items-center justify-content-between">
        <h1 class="display-6">Zestawienie czasu pracy na miesiąc @Html.DisplayFor(model => model.Month)</h1>
        <form asp-action="Index" method="GET">
            <span>Przejdź do: </span>
            <input asp-for="Month" asp-format="{0:yyyy-MM-dd}"/>
            <input type="submit" value="Wyślij"/>
        </form>
    </div>
    <table class="table">
        <tbody>
        @foreach (var (projectCode, time) in monthlySummary)
        {
            <tr>
                <td>
                    @projectCode
                </td>
                <td>
                    @time
                </td>
            </tr>
        }
        <tr><td></td><td></td></tr>
        <tr>
            <td>
                Razem
            </td>
            <td>
                @monthlyTotal
            </td>
        </tr>
        </tbody>
    </table>
    @if (!Model.Frozen)
    {
        <form method="POST">
            <button asp-controller="Report" asp-action="Freeze" asp-route-date="@date" asp-route-username="@Model.Owner">Zatwierdź</button>
        </form>
    }
</main>
